<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "connection"
        version     = "1.0.0" >

    <name>motion</name>
    <description>Motion</description>
    <author  email="n.lewczuk@gmail.com">
		Natalia Lewczuk
	</author>
	<platform name="android" />
	
	<plugin name="cordova-plugin-device" spec="~1.1.4" />
	<plugin name="cordova-plugin-dialogs" spec="~1.3.1" />
    <plugin spec="https://github.com/apache/cordova-plugin-network-information.git" source="git" />
    <plugin spec="https://github.com/apache/cordova-plugin-device-motion.git" source="git" />
</widget>